<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <!-- Credenciales para subir artefactos a JFrog -->
        <server>
            <id>jfrog-releases</id>
            <username>${JFROG_USER}</username>
            <password>${JFROG_PASS}</password>
        </server>
        <server>
            <id>jfrog-snapshots</id>
            <username>${JFROG_USER}</username>
            <password>${JFROG_PASS}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>jfrog</id>
            <repositories>
                <repository>
                    <id>jfrog-releases</id>
                    <name>JFrog Releases</name>
                    <url>https://devopsproyect01.jfrog.io/artifactory/libs-release</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>jfrog-snapshots</id>

                    <name>JFrog Snapshots</name>
                    <url>https://devopsproyect01.jfrog.io/artifactory/libs-snapshot-local</url>
                    <releases><enabled>false</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
        <id>jfrog</id>
        <repositories>
            <repository>
                <id>jfrog-virtual</id>
                <name>JFrog Virtual</name>
                <url>https://edshopdpt8.jfrog.io/artifactory/maven-virtual</url>
                <releases><enabled>true</enabled></releases>
                <snapshots><enabled>false</enabled></snapshots>
            </repository>
        </repositories>
        <pluginRepositories>
            <pluginRepository>
                <id>jfrog-virtual</id>
                <name>JFrog Virtual Plugins</name>
                <url>https://edshopdpt8.jfrog.io/artifactory/maven-virtual</url>
                <releases><enabled>true</enabled></releases>
                <snapshots><enabled>false</enabled></snapshots>
            </pluginRepository>
        </pluginRepositories>
    </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>jfrog</activeProfile>
    </activeProfiles>

</settings>